@model List<Empresa.Dominio.Entidades.EmpresaModelo>
<div class="main-content">
    <form action="@Url.Action("Index", "Empresa")">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="nomeFantasia">Nome Fantasia</label>
                <input name="NomeFantasia" type="text" class="form-control" id="nomeFantasia">
            </div>
            <div class="form-group col-md-4">
                <label for="cnpj">CNPJ</label>
                <input name="CNPJ" type="text" class="form-control" id="cnpj">
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Situacao</label>
                <select name="Situacao" id="inputState" class="form-control">
                    <option selected>Escolha</option>
                    <option value="true">Ativo</option>
                    <option value="false">Inativo</option>
                </select>
            </div>
            <input type="submit" value="Filtrar" class="btn btn-primary" style="width: 86px;  height: 34px;  padding-top: 5px;  margin-top: 35px;">
        </div>
    </form>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" style="margin-bottom: 10px;">
        Criar empresa
    </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome Fantasia</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Situação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="accordion">
                    <td>@item.NomeFantasia</td>
                    <td>@item.CPNJ</td>
                    @if (item.Situacao == true)
                    {
                        <td>Ativo</td>
                    }
                    else
                    {
                        <td>Inativo</td>
                    }

                    <td class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                        </svg>
                    </td>
                </tr>
                <tr class="panel">
                    <td>
                        <a href="@Url.Action("Alterar","Empresa")/@item.Id" class="btn btn-secondary">
                            Alterar
                        </a>
                        <a href="@Url.Action("Inativar","Empresa")/@item.Id" class="btn btn-warning">
                            Inativar
                        </a>
                        <a href="@Url.Action("Deletar","Empresa")/@item.Id" class="btn btn-danger">
                            Deletar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Cadastro de empresa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="@Url.Action("Criar", "Empresa")">
                    <div class="form-row" style="padding-left: 30px;">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nome Fantasia</label>
                            <input name="NomeFantasia" type="text" class="form-control" id="ema">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="cnpj">CNPJ</label>
                            <input name="CNPJ" type="text" class="form-control" id="cnpj">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Paginação -->
    <nav aria-label="Page navigation ">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>